@import '~style/helpers';

.item {
  font-size: 22px;
  background: white;
  margin-top: 10px;
  padding: 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.item:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 16px;
  display: flex;
  padding: 25px;
  text-align: justify;
  background: @athens-gray;
}

.icon {
  height: 16px;
  width: 16px;
  display: block;
  margin-left: 5px;
  transition: 300ms all;
  transform: rotate(0deg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  border: none;
  padding: 5px 15px 5px 5px;
  background-position: 80px center;
  background-color: @athens-gray;
  outline: none;
  cursor: pointer;
  color: #F8723A;
  font-size: 14px;
}

.button[disabled], .button[disabled]:hover{
  color: @cinderella;
  text-decoration: none;
  cursor: default;
}

.disabledIcon {
  opacity: 0.3;
}

.time

.desc {
  background-image: url('../../assets/next.svg');
  width: 16px;
  height: 16px;
  margin-left: 5px;
  position: absolute;
  display: inline-block;
  background-position: center;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
  transition: 300ms all;
  transform: rotate(0deg);
}

.rotate {
  transition: 300ms all;
  transform: rotate(90deg);
}

.button:hover {
  color: @outrageous-orange;
  text-decoration: underline;
}

.open {
  background-image: url('../../assets/open_window.svg');
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time{
  font-size: 14px;
  padding: 0px 10px;
  color: @scorpion;
}

.title {
  font-size: 18px;
  color: @scorpion;
  font-weight: bold;
}

.weekday {
  color: #F96B45;
  font-size: 16px;
  font-weight: bold;
}

.source {
  font-size: 0.7em;
  color: @tacao;
}

.moreContainer {
  background: @athens-gray;
  height: 35px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div, a {
    cursor: pointer;
    color: @crusta;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:hover, a:hover {
    color: @well-read;
  }
}

.buttonContainer {
  height: 100%;
  padding: 0px;
}

.source {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  height: 100px;
}

.ENIKOS {
  background-image: url('../../assets/enikos.png');
}

.PRONEWS {
  background-image: url('../../assets/pronews.png');
}

.ΣΚΑΪ {
  background-image: url('../../assets/skai.png');
}

.ATHENSMAGAZINE {
  background-image: url('../../assets/athensmagazine.png');
}

.CAPITALGR {
  background-image: url('../../assets/capital.png');
}

.ΝΕWSIT {
  background-image: url('../../assets/newsit.png');
}

.NEWSBOMB {
  background-image: url('../../assets/newsbomb.png');
}

.INGR {
  background-image: url('../../assets/ingr.png');
}

.ΠΡΩΤΟΘΕΜΑ {
  background-image: url('../../assets/protothema.png');
}

.HUFFINGTONPOST {
  background-image: url('../../assets/huffpost.png');
}

.Lifo {
  background-image: url('../../assets/lifo.png');
}

.CNNgreece {
  background-image: url('../../assets/CNNgreece.png');
  background-size: 50%;
}

.ΑΠΕ-ΜΠΕ {
  background-image: url('../../assets/amna.png');
  background-size: 40%;
}

.ΤΑΝΕΑ {
  background-image: url('../../assets/tanea.png');
}

.Protagon {
  background-image: url('../../assets/protagon.png');
}

.ThePressProject {
  background-image: url('../../assets/ThePressProject.png');
  background-size: 80%;
}

.DOCTV {
  background-image: url('../../assets/doctv.png');
}
